################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/UowRepositoryKit/bin/Debug
/UowRepositoryKit/obj
